/* body {
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  width: 20px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-image: url('..//../public/favicon.svg');
  background-repeat: no-repeat;
  background-position: center center;

  cursor: pointer;
} */
