body {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  background: var(--color-white);
}

.section {
  padding-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding-bottom: 150px;
  }
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 64px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text__element {
  position: relative;
}

.text__element::after {
  position: absolute;
  bottom: 3px;
  left: 0;
  content: '';
  z-index: -1;
  width: 100%;
  height: 12px;
  border-radius: 8px;
  background-color: var(--color-green-pseudo);
}

@media screen and (min-width: 768px) {
  .text__element::after {
    height: 20px;
  }
}
