.hero {
  padding-top: 8px;
  padding-bottom: 80px;
  color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .hero {
    padding-bottom: 100px;
    padding-top: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding-bottom: 96px;
  }
}

.hero__title {
  margin-bottom: clamp(36px, 10.7vw, 40px);
  font-size: 38px;
  font-size: clamp(32px, 10.14vw, 38px);
  font-weight: 700;
  line-height: 1.05;
  color: var(--color-white);
}

.hero__title-current {
  color: var(--color-green-pseudo);
}

.hero__container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  position: relative;
  justify-content: flex-end;
  border-radius: 16px;
  width: clamp(278px, calc(100vw - 40px), 335px);
  height: clamp(604px, 189vw, 708px);
  padding-inline: 20px;
  padding-inline: clamp(16px, 5.334vw, 20px);
  padding-bottom: 72px;
  margin-inline: auto;
}

.hero__button-leave {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 295px;
  width: clamp(250px, 78.67vw, 295px);
  height: 52px;
  color: var(--color-white);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.71;
  border-radius: 12px;
  border: none;
  background: var(--color-green);
  transition: background-color var(--transition-dur-and-func);
}

.hero__button-leave:hover,
.hero__button-leave:focus {
  background-color: var(--color-dark-green);
}

.hero__button-round {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  position: absolute;
  bottom: 14px;
  right: 14px;
  border-radius: 50%;
  background-color: var(--color-white);
  transition: background-color var(--transition-dur-and-func);
}

.hero__button-round:hover {
  transform: translateY(1px);
  background-color: var(--color-green);
}

.hero__button-icon {
  fill: var(--color-green);
  transition: fill var(--transition-dur-and-func);
}

.hero__button-round:hover .hero__button-icon {
  fill: var(--color-white);
}

.hero__background {
  border-radius: 16px;
  background: linear-gradient(
      57deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(../../img/hero-mobile-1x.jpg) no-repeat;
  background-size: cover;
}

/* Retina */

@media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero__background {
    background: linear-gradient(
        57deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url(../../img/hero-mobile-2x.jpg) no-repeat;
    background-size: cover;
  }
}

/* Tablet Styles */

@media screen and (min-width: 768px) {
  .hero__container {
    width: 704px;
    height: 857px;
    padding: 260px 32px 295px;
    align-items: flex-start;
    justify-content: flex-end;
    border-radius: 30px;
  }

  .hero__title {
    display: block;
    max-width: 488px;
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 1.17;
  }

  .hero__button-leave {
    width: 306px;
    height: 60px;
    color: var(--color-white);
    font-size: 18px;
    line-height: 1.56;
  }

  .hero__button-round {
    width: 48px;
    height: 48px;
    bottom: 32px;
    right: 32px;
  }

  .hero__button-icon {
    width: 24px;
    height: 24px;
  }

  .hero__background {
    background: linear-gradient(
        57deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url(../../img/hero-tablet-1x.jpg) no-repeat;
  }
}

/* Retina */

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__background {
    background: linear-gradient(
        57deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url(../../img/hero-tablet-2x.jpg) no-repeat;
    background-size: cover;
  }
}

/* Desktop Styles */

@media screen and (min-width: 1280px) {
  .hero__container {
    width: 1152px;
    height: 629px;
    padding: 0 64px;
    align-items: flex-start;
    padding-bottom: 163px;
  }

  .hero__title {
    max-width: 564px;
  }

  .hero__background {
    background: linear-gradient(
        57deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url(../../img/hero-desktop-1x.jpg) no-repeat;
    background-size: cover;
  }
}

/* Retina */

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 1280px) and (min-resolution: 192dpi),
  screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero__background {
    background: linear-gradient(
        57deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url(../../img/hero-desktop-2x.jpg) no-repeat;
    background-size: cover;
  }
}
