.hero {
  padding: 0 20px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 0 32px;
  }
}

.hero-container {
  width: 100%;
  padding-top: 425px;
  padding-bottom: 72px;
  position: relative;
  text-align: center;
  border-radius: 16px;
  background-image: linear-gradient(
      114deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url('../../img/hero-mobile-1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  padding-right: 20px;
  padding-left: 20px;
}

@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-device-pixel-ratio: 2) {
  .hero-container {
    background-image: linear-gradient(
        114deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url('../../img/hero-mobile-2x.jpg');
  }
}

@media screen and (min-width: 375px) {
  .hero-container {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    width: 704px;
    padding-top: 260px;
    padding-bottom: 295px;
    padding-right: 32px;
    padding-left: 32px;
    text-align: start;
    border-radius: 30px;
    background-image: linear-gradient(
        114deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url('../../img/hero-tablet-1x.jpg');
  }

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .hero-container {
      background-image: linear-gradient(
          114deg,
          rgba(0, 0, 0, 0.4) 0%,
          rgba(0, 0, 0, 0) 100%
        ),
        url('../../img/hero-tablet-2x.jpg');
    }
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    width: 1152px;
    padding-top: 164px;
    padding-bottom: 164px;
    padding-right: 64px;
    padding-left: 64px;
    background-image: linear-gradient(
        114deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url('../../img/hero-desktop-1x.jpg');
  }

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .hero-container {
      background-image: linear-gradient(
          114deg,
          rgba(0, 0, 0, 0.4) 0%,
          rgba(0, 0, 0, 0) 100%
        ),
        url('../../img/hero-desktop-2x.jpg');
    }
  }
}

.hero__title {
  max-width: 295px;
  color: #fff;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.05;
  margin-bottom: 40px;
  text-align: start;
}

.hero__title-current {
  color: #bee8cc;
}

@media screen and (min-width: 768px) {
  .hero__title {
    max-width: 488px;
    font-size: 60px;
    line-height: 1.17;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__title {
    max-width: 564px;
  }
}

.hero__button {
  display: flex;
  width: 100%;
  height: 52px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #4dc274;
  border: none;
  margin: 0 auto;
}

.hero__button-text {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.71;
}

@media screen and (min-width: 768px) {
  .hero__button {
    width: 306px;
    height: 60px;
    margin: 0;
  }
  .hero__button-text {
    font-size: 18px;
    line-height: 1.55;
  }
}
.hero__button:active {
  background-color: #38ae5f;
}

.hero__button:hover,
.hero__button:focus {
  background-color: #38ae5f;
}

.hero__button-round {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 14px;
  right: 14px;
  width: 38px;
  height: 38px;
  background-color: #fff;
  border-radius: 50%;
  color: #ffffff;
  position: absolute;
  overflow: hidden;
  border: none;
}

@media screen and (min-width: 768px) {
  .hero__button-round {
    bottom: 32px;
    right: 32px;
    width: 48px;
    height: 48px;
  }
}

.hero__button-round:active {
  background-color: #4dc274;
}

.hero__button-round:hover,
.hero__button-round:focus {
  background-color: #4dc274;
}

.hero__button-icons {
  fill: #4dc274;
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 768px) {
  .hero__button-icons {
    width: 24px;
    height: 24px;
  }
}

.hero__button-icons:active {
  fill: #ffffff;
}

.hero__button-round:hover .hero__button-icons,
.hero__button-round:focus .hero__button-icons {
  fill: #ffffff;
}
