.about__title {
  margin-bottom: 16px;
  text-align: center;
  font-size: 32px;
  line-height: 1.13;
  letter-spacing: -0.02em;
  color: var(--color-black);
}

.about__inner {
  position: relative;
}

.about__inner::after {
  position: absolute;
  bottom: 4px;
  left: 0;
  content: '';
  z-index: -1;
  width: 39px;
  height: 12px;
  border-radius: 8px;
  background-color: var(--color-green-pseudo);
}

.about__subtitle {
  margin-bottom: 40px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 1.7; /* 171.429% */
  color: rgba(18, 20, 23, 0.5);
}

@media screen and (min-width: 375px) {
  .about__subtitle {
    max-width: 334px;
    margin-left: auto;
    margin-right: auto;
  }
}

.about__list {
  counter-reset: cardCount;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.about__item {
  max-width: 335px;
  border-radius: 16px;
  background-color: var(--color-grey);
}

.about__container {
  padding: 32px;
}

.about__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2; /* 133.333% */
  letter-spacing: -0.02em;
  color: var(--color-black);
}

.about__text {
  counter-increment: cardCount;
}

.about__text::before {
  content: counter(cardCount, decimal-leading-zero);
  display: block;
  padding-bottom: 16px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -0.02em;
  color: var(--color-green);
}

.about__wrapper {
  position: relative;
  max-width: 335px;
  height: 313px;
  margin: 0 auto;
  border-radius: 16px;
  background-color: var(--color-green);
}

.about__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/**
  |============================
  | Tablet Styles
  |============================
*/

@media screen and (min-width: 768px) {
  .about__title {
    font-size: 40px;
    line-height: 1.2;
  }

  .about__inner::after {
    left: -1px;
    width: 52px;
    height: 16px;
  }

  .about__subtitle {
    margin-bottom: 64px;
    max-width: 658px;
    font-size: 18px;
    line-height: 1.6;
  }

  .about__list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 32px;
  }

  .about__item {
    flex-basis: calc((100% - 32px) / 2);
  }

  .about__wrapper {
    max-width: 704px;
    height: 243px;
  }
}

/**
  |============================
  | Desktop Styles
  |============================
*/

@media screen and (min-width: 1280px) {
  .about__inner::after {
    left: -5px;
    width: 62px;
    height: 20px;
  }

  .about__box {
    display: flex;
    justify-content: center;
  }

  .about__list {
    width: 682px;
    margin-bottom: 0;
    margin-right: 32px;
  }

  .about__item {
    flex-basis: calc((100% - 32px) / 2);
  }

  .about__wrapper {
    width: 310px;
    height: 352px;
    margin: 0;
  }
}
