.proposal {
  padding-bottom: 80px;
}

.proposal__container {
  position: relative;
  max-width: 335px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 16px;
  background: linear-gradient(80deg, #4dc274 0%, #bee8cc 100%);
}

.proposal__heading {
  max-width: 295px;
  padding-left: 20px;
  padding-top: 40px;
  color: var(--color-white);
  font-weight: 700;
  font-size: 38px;
  line-height: 1.05;
  margin-bottom: 40px;
}

.proposal__heading-current {
  color: var(--color-green-pseudo);
}

.proposal__box {
  margin: 0 auto 40px;

  height: 456px;
  background-image: url(../../img/bg-proposal-mobile.png);
  background-clip: content-box;
  background-repeat: no-repeat;
  background-position: center;
}

.proposal__wrapper {
  width: 295px;
  margin: 0 auto;
  padding: 65px 20px 0;
}

.proposal__tittle {
  color: var(--color-black);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.4px;
  margin-bottom: 20px;
}

.proposal__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  margin-bottom: 20px;
}

.proposal__item {
  display: inline-flex;
  max-width: 255px;
  align-items: center;
  gap: 8px;
}

.proposal__item::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../public/check-m.svg');
}

.proposal__item-text {
  width: 227px;
  color: var(--color-black);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.429;
  letter-spacing: -0.28px;
}

.proposal__button {
  margin: 0 auto;
  display: flex;
  width: 100%;
  height: 52px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: var(--color-green);
  border: none;
  transition: background var(--transition-dur-and-func);
}

.proposal__button:hover,
.proposal__button:focus {
  background: #38ae5f;
}

.proposal__button:active {
  background: #38ae5f;
}

.proposal__button-text {
  color: var(--color-white);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.714;
}

.proposal__pic {
  display: none;
}

/**
  |============================
  | Tablet Styles
  |============================
*/

@media screen and (min-width: 768px) {
  .proposal {
    padding-bottom: 100px;
  }

  .proposal__container {
    border-radius: 30px;
    max-width: 704px;
  }

  .proposal__heading {
    padding-left: 32px;
    max-width: 672px;
    font-size: 60px;
    line-height: 1.17;
    margin-bottom: 33px;
  }

  .proposal__box {
    display: flex;
    gap: 20px;
    height: 614px;
    background-image: url(../../img/bg-proposal-tablet.png);
    background-size: 754px 614px;
    background-clip: content-box;
  }

  .proposal__wrapper {
    width: 521px;
    margin: 0;
    padding: 115px 0 32px 50px;
    gap: 32px;
  }

  .proposal__tittle {
    color: var(--color-black);
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.8px;
    margin-bottom: 32px;
  }

  .proposal__list {
    margin-bottom: 32px;
  }

  .proposal__item {
    gap: 16px;
    max-width: 451px;
  }

  .proposal__item::before {
    content: '';
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url('../../public/check-dt.svg');
  }

  .proposal__item-text {
    width: 405px;
    color: var(--color-black);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.4px;
  }

  .proposal__button {
    margin: 0;
    width: 306px;
    height: 60px;
  }

  .proposal__button-text {
    font-size: 18px;
    line-height: 1.55;
  }

  .proposal__pic {
    display: inline;
    width: 214px;
    height: 263px;
    margin-top: 225px;
  }
}

/**
  |============================
  | Desktop Styles
  |============================
*/

@media screen and (min-width: 1280px) {
  .proposal {
    padding-bottom: 150px;
  }

  .proposal__container {
    max-width: 1152px;
  }

  .proposal__heading {
    padding-left: 64px;
    max-width: 776px;
    font-size: 60px;
    line-height: 1.17;
    margin-bottom: 88px;
  }

  .proposal__box {
    gap: 92px;
    width: 1104px;
    height: 604px;
    background-image: url(../../img/bg-proposal-desktop.png);
    background-repeat: no-repeat;
    background-size: 1104px 604px;
  }

  .proposal__wrapper {
    width: 768px;
    margin: 0;
    padding: 110px 0 40px 128px;
  }

  .proposal__tittle {
    color: var(--color-black);
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.8px;
    margin-bottom: 40px;
  }

  .proposal__list {
    margin-bottom: 39px;
    max-width: 654px;
  }

  .proposal__item {
    gap: 16px;
    max-width: 654px;
  }

  .proposal__item::before {
    content: '';
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url('../../public/check-dt.svg');
  }

  .proposal__item-text {
    width: 610px;
    color: var(--color-black);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.4px;
  }

  .proposal__button-text {
    font-size: 18px;
    line-height: 1.55;
  }

  .proposal__pic {
    display: inline;
    width: 214px;
    height: 263px;
    margin-top: 190px;
  }
}
