.teachers__title {
  color: var(--color-black);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.13;
  text-align: center;
  letter-spacing: -0.64px;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .teachers__title {
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.8px;
  }
}

.teachers__subtitle {
  max-width: 335px;
  color: rgba(18, 20, 23, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .teachers__subtitle {
    font-size: 18px;
    line-height: 1.67;
    margin-bottom: 64px;
    max-width: 709px;
  }
}

.teachers__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .teachers__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .teachers__list {
    flex-wrap: nowrap;
    gap: 32px;
  }
}

.teachers__item {
  width: 100%;
  max-width: 335px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .teachers__item {
    max-width: 272px;
    height: 318px;
  }
}

@media screen and (min-width: 1280px) {
  .teachers__item {
    width: calc((100%-72px) / 4);
    max-width: 232px;
  }
}
.teachers__image {
  border-radius: 500px;
}

.teachers__specialist {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.4px;
  text-align: center;
  margin-bottom: 8px;
  color: var(--color-black);
}

.teachers__job-title {
  color: rgba(18, 20, 23, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .teachers__job-title {
    font-size: 16px;
    line-height: 1.5;
  }
}
