@media screen and (min-width: 1280px) {
  .leave__container {
    width: 1152px;
  }
}

.leave__form {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
}

@media screen and (min-width: 1280px) {
  .leave__form {
    margin: 0px;
  }
}

@media screen and (max-width: 374px) {
  .leave__title {
    margin-bottom: 14px;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.12;
    letter-spacing: -0.02em;
    color: var(--color-black);
  }
}

@media screen and (min-width: 375px) {
  .leave__title {
    margin-bottom: 14px;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.12;
    letter-spacing: -0.02em;
    color: var(--color-black);
  }
}

@media screen and (min-width: 768px) {
  .leave__title {
    margin: 0 auto 16px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
  }
}

.leave__text {
  margin: 0 auto 20px;
  width: 100%;
  max-width: 335px;
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(18, 20, 23, 0.5);
}

@media screen and (min-width: 768px) {
  .leave__text {
    max-width: 586px;
    margin: 0 auto 64px;
    font-size: 18px;
    line-height: 1.66;
  }
}

@media screen and (min-width: 1280px) {
  .leave__text {
    max-width: 709px;
  }
}

/*  FORM INPUTS */

.leave__input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1280px) {
  .leave__input-group {
    margin-bottom: 32px;
  }
}

.leave__form-input {
  width: 100%;
  max-width: 335px;
  height: 50px;
  padding: 16px 18px;
  border-radius: 12px;
  border: 1px solid rgba(18, 20, 23, 0.1);
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color var(--transition-dur-and-func);
}

.leave__form-input:not(.invalid):hover,
.leave__form-input:not(.invalid):focus {  
  border-color: var(--color-green);
}

.leave__form-input::placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28em;
  color: var(--color-black);
}

@media screen and (min-width: 768px) {
  .leave__form-input::placeholder {
    font-size: 16px;
    line-height: 1.5em;
  }
}

.teaxtarea-input {
  width: 100%;
  height: 94px;
}

@media screen and (min-width: 768px) {
  .leave__form-input {
    min-width: 500px;
    height: 56px;
  }

  .teaxtarea-input {
    height: 104px;
  }
}

/*  RADIO BTN  */

.leave__radio-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0px 0px 40px 0px;
  padding: 0px;
  border: none;
}

@media screen and (min-width: 768px) {
  .leave__radio-group {
    flex-direction: row;
    gap: 16px;
    margin: 0px 0px 32px 0px;
  }
}

.leave__radio-group-title {
  margin-bottom: 14px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: var(--color-black);
}

@media screen and (min-width: 768px) {
  .leave__radio-group-title {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .leave__radio-btn-title {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 1.2;
  }
}

.leave__radio {
  position: relative;
}

.leave__radio-input {
  /* display: none; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.leave__radio-label {
  padding-left: 28px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71em;
  letter-spacing: -0.28px;
  color: var(--color-black);
}

@media screen and (min-width: 768px) {
  .leave__radio-label {
    font-size: 18px;
    line-height: 1.33em;
    letter-spacing: -0.36px;
  }
}

.leave__radio-label::before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  border: 2px solid rgba(18, 20, 23, 0.2);
  background-color: var(--color-white);
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 0;
  z-index: 1;
  transition: border-color var(--transition-dur-and-func);
}

@media screen and (min-width: 768px) {
  .leave__radio-label::before {
    width: 20px;
    height: 20px;
  }
}

.leave__radio-label::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border: 2px solid var(--color-green);
  background-color: var(--color-green);
  border-radius: 50%;
  opacity: 0;
  position: absolute;
  top: 7px;
  left: 4px;
  z-index: 2;
  transition: opacity var(--transition-dur-and-func);
}

@media screen and (min-width: 768px) {
  .leave__radio-label::after {
    width: 12px;
    height: 12px;
  }
}

.leave__radio-input:checked + .leave__radio-label::before {
  border-color: var(--color-green);
}

.leave__radio-input:checked + .leave__radio-label::after {
  opacity: 1;
}

/*  FORM BTN   */

.leave__form-btn {
  display: block;
  height: 52px;
  padding: 0px;
  width: 100%;
  max-width: 335px;
  margin-bottom: 16px;
  margin: 0 auto 16px;
  border: none;
  border-radius: 12px;
  background-color: var(--color-green);
  color: var(--color-white);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.71;
  transition: background-color var(--transition-dur-and-func);
}

.leave__form-btn:hover,
.leave__form-btn:focus {
  background-color: var(--color-dark-green);
}

@media screen and (min-width: 768px) {
  .leave__form-btn {
    padding: 16px 228px;
    min-width: 500px;
    height: 60px;
    font-size: 18px;
    line-height: 1.55;
  }
}

/*  FORM POLICY  */

.leave__form-policy {
  margin: 0 auto;
  width: 100%;
  max-width: 355px;
  font-size: 12px;
  line-height: 1.33;
  color: rgba(18, 20, 23, 0.5);
}

@media screen and (min-width: 768px) {
  .leave__form-policy {
    font-size: 14px;
    line-height: 1.71;
    max-width: 500px;
  }
}

.leave__form-policy-link {
  text-decoration-line: underline;
  text-decoration-color: rgba(18, 20, 23, 0.5);
}

/*  ADDITIONAL WRAPPER  */

.leave__wrapper {
  display: flex;
}

@media screen and (min-width: 1280px) {
  .leave__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

/*  DESKTOP IMAGRE CARD  */

@media screen and (max-width: 1280px) {
  .leave__card-wrapper {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .leave__card-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0px 20px 40px 20px;
    justify-content: flex-end;
    align-items: center;
    background-image: url('../../img/form-leave-1x.png');
    background-repeat: no-repeat;
    background-color: var(--color-green);
    border-radius: 30px;
    width: 492px;
    height: 578px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
  screen and (min-resolution: 192dpi) and (min-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 1280px) {
  .leave__card-wrapper {
    background-image: url('../../img/form-leave-2x.png');
    background-size: 492px;
    background-position: top;
  }
}

.leave__card-big-text {
  margin-bottom: 8px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;

  color: var(--color-white);
}

.leave__card-text {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.7);
}

.valid {
  border-color: var(--color-valid);
}

.invalid {
  border-color: var(--color-invalid);
}


