.footer {
  background-color: var(--color-black);
}

.footer-container {
  text-align: start;
  padding: 40px 20px 20px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    padding: 32px 32px 16px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-container {
    padding: 64px 128px 23px;
  }
}

@media screen and (min-width: 768px) {
  .footer__content-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__logo-adress-wrap {
  margin-bottom: 40px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--color-white);
  transition: transform var(--transition-dur-and-func);
}

.footer__logo:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .footer__logo {
    margin-bottom: 32px;
  }
}

.footer__logo-span {
  color: var(--color-green);
}

.footer-contacts__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-contacts__item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer-contact__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.footer-contacts__link {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  color: var(--color-white);
  font-style: normal;
}

.footer-nav {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .footer-nav {
    margin-bottom: 110px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-nav {
    margin-bottom: 64px;
  }
}

.footer-nav__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-nav__item {
  position: relative;
}

.footer-nav__link {
  font-weight: 600;
  line-height: 1.29;
  color: var(--color-white);
}

.footer-nav__link::after {
  content: '';
  position: absolute;
  width: 37px;
  height: 2px;
  left: 0;
  bottom: -4px;
  background-color: var(--color-green);
  opacity: 0;
  transition: opacity var(--transition-dur-and-func);
}

.footer-nav__link:hover::after {
  opacity: 1;
}

.footer__icon-wrapper {
  position: relative;
  margin-bottom: 40px;
}

.footer__icon-list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
  margin-bottom: 40px;
}

.footer__icon-item {
  width: 40px;
  height: 40px;
}

.footer__dev-titans-wrap {
  position: absolute;
  right: 0;
  bottom: 0;
}

.footer__icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer__icon {
  opacity: 0.8;
  fill: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__icon-link:hover,
.footer__icon-link:focus {
  border: 1px solid rgba(77, 194, 116, 0.1);
  transition: border var(--transition-dur-and-func);
}

.footer__icon-link:hover .footer__icon,
.footer__icon-link:focus .footer__icon {
  fill: var(--color-green);
  transition: fill var(--transition-dur-and-func);
}

.footer-container .footer__vector:before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__text-wrapper {
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer__text-wrapper {
    flex-direction: column;
    text-align: start;
    gap: 14px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .footer__text-wrapper {
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .footer__text-wrapper {
    margin-top: 23px;
  }
}

.footer__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.018;
  color: rgba(255, 255, 255, 0.6);
}

.footer__text--privacy:hover {
  color: var(--color-green);
}

.footer__text--terms:hover {
  color: var(--color-green);
}

.footer-text__wrap {
  display: flex;
  text-align: right;
  gap: 18px;
}

@keyframes pulseAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.footer__link img {
  animation: pulseAnimation 2s infinite;
}
