<section class="header">
  <div class="header-container">
    <!-- Navigation -->
    <a href="" class="header__logo"
      >english<span class="header__logo-span">exelence</span>.</a
    >
    <nav class="header__nav">
      <!-- Logo -->

      <ul class="header__nav-list list">
        <li class="header__nav-item">
          <a class="header__nav-link-one link" href="#about-us">About us</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link-two link" href="#our-lessons"
            >Our lessons</a
          >
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link-three link" href="#teachers">Teachers</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link-four link" href="#reviews">Reviews</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link-five link" href="#contact-us"
            >Contact Us</a
          >
        </li>
      </ul>
    </nav>

    <!-- Socials -->

    <ul class="header__socials-list list">
      <li class="header__socials-item">
        <a
          href="https://www.facebook.com/goITclub/"
          class="header__socials-link link"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="facebook icon"
        >
          <svg class="header__socials-icon" width="28" height="28">
            <use href="./sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header__socials-item">
        <a
          href="https://www.instagram.com/goitclub/"
          class="header__socials-link link"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="instagram icon"
        >
          <svg class="header__socials-icon" width="28" height="28">
            <use href="./sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header__socials-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="header__socials-link link"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="youtube icon"
        >
          <svg class="header__socials-icon" width="28" height="28">
            <use href="./sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <!-- ====== Mobile Menu ====== -->

    <button
      class="menu-open__button js-open-menu"
      type="button"
      aria-expanded="false"
      aria-controls="mobile-menu"
      menu-open-btn
    >
      <svg
        class="menu-open__icon"
        width="32"
        height="23"
        stroke="var(--color-black)"
        aria-controls="mobile-menu"
        aria-expanded="false"
      >
        <use
          class="menu-open__use"
          xlink:href="./sprite.svg#icon-menu-mini"
        ></use>
      </svg>
    </button>
  </div>

  <!-- Mobile Menu container -->
  <div class="backdrop is-hidden" menu-backdrop>
    <div class="menu-container js-menu-container" id="mobile-menu">
      <button
        type="button"
        class="menu-close__button js-close-menu"
        menu-close-btn
      >
        <svg class="menu-close__icon" width="32" height="32">
          <use href="./sprite.svg#icon-x-close"></use>
        </svg>
      </button>

      <!-- Mobile Menu Navigation  -->

      <nav class="menu__nav">
        <ul class="menu__nav-list list">
          <li class="menu__nav-item">
            <a class="menu__nav-link link" href="#About us">About us</a>
          </li>
          <li class="menu__nav-item">
            <a class="menu__nav-link link" href="#Our lessons">Our lessons</a>
          </li>
          <li class="menu__nav-item">
            <a class="menu__nav-link link" href="#Teachers">Teachers</a>
          </li>
          <li class="menu__nav-item">
            <a class="menu__nav-link link" href="#Reviews">Reviews</a>
          </li>
          <li class="menu__nav-item">
            <a class="menu__nav-link link" href="#Contact Us">Contact Us</a>
          </li>
        </ul>
      </nav>

      <!-- Mobile Menu Socials -->

      <ul class="menu__socials-list list">
        <li class="menu__socials-item">
          <a
            class="menu__socials-link link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="facebook icon"
          >
            <svg class="menu__socials-icon" width="28" height="28">
              <use href="./sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>

        <li class="menu__socials-item">
          <a
            class="menu__socials-link link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="instagram icon"
          >
            <svg class="menu__socials-icon" width="28" height="28">
              <use href="./sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="menu__socials-item">
          <a
            class="menu__socials-link link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="youtube icon"
          >
            <svg class="menu__socials-icon" width="28" height="28">
              <use href="./sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
