<div class="header-container" id="header__top">
  <!-- Navigation -->
  <a href="" class="header__logo"
    >english<span class="header__logo-span">excellence</span>.</a
  >
  <nav class="header__nav">
    <!-- Logo -->

    <ul class="header__nav-list">
      <li class="header__nav-item">
        <a class="header__nav-link-one" href="#about-us">About us</a>
      </li>
      <li class="header__nav-item">
        <a class="header__nav-link-two" href="#our-lessons">Our lessons</a>
      </li>
      <li class="header__nav-item">
        <a class="header__nav-link-three" href="#teachers">Teachers</a>
      </li>
      <li class="header__nav-item">
        <a class="header__nav-link-four" href="#reviews">Reviews</a>
      </li>
      <li class="header__nav-item">
        <a class="header__nav-link-five" href="#leave-section">Contact Us</a>
      </li>
    </ul>
  </nav>

  <!-- Socials -->

  <ul class="header__socials-list">
    <li class="header__socials-item">
      <a
        href="https://www.facebook.com/goITclub/"
        class="header__socials-link"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="facebook icon"
      >
        <svg class="header__socials-icon" width="28" height="28">
          <use href="./sprite.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="header__socials-item">
      <a
        href="https://www.instagram.com/goitclub/"
        class="header__socials-link"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="instagram icon"
      >
        <svg class="header__socials-icon" width="28" height="28">
          <use href="./sprite.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="header__socials-item">
      <a
        href="https://www.youtube.com/c/GoIT"
        class="header__socials-link"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="youtube icon"
      >
        <svg class="header__socials-icon" width="28" height="28">
          <use href="./sprite.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
  </ul>

  <!-- Mobile Menu -->

  <button
    class="menu-open__button js-open-menu"
    type="button"
    aria-expanded="false"
    aria-controls="mobile-menu"
    data-menu-open-btn
  >
    <svg
      class="menu-open__icon"
      width="32"
      height="23"
      stroke="var(--color-black)"
      aria-controls="mobile-menu"
      aria-expanded="false"
      role="img"
    >
      <use
        class="menu-open__use"
        xlink:href="./sprite.svg#icon-menu-mini"
      ></use>
    </svg>
  </button>
</div>

<!-- Mobile Menu container -->
<div class="backdrop is-hidden" data-menu-backdrop>
  <div class="menu-container js-menu-container" id="mobile-menu">
    <button
      type="button"
      class="menu-close__button js-close-menu"
      data-menu-close-btn
    >
      <svg class="menu-close__icon" width="32" height="32">
        <use href="./sprite.svg#icon-x-close"></use>
      </svg>
    </button>

    <!-- Mobile Menu Navigation  -->

    <nav class="menu__nav">
      <ul class="menu__nav-list">
        <li class="menu__nav-item">
          <a class="menu__nav-link" href="#about-us">About us</a>
        </li>
        <li class="menu__nav-item">
          <a class="menu__nav-link" href="#our-lessons">Our lessons</a>
        </li>
        <li class="menu__nav-item">
          <a class="menu__nav-link" href="#teachers">Teachers</a>
        </li>
        <li class="menu__nav-item">
          <a class="menu__nav-link" href="#reviews">Reviews</a>
        </li>
        <li class="menu__nav-item">
          <a class="menu__nav-link" href="#leave-section">Contact Us</a>
        </li>
      </ul>
    </nav>

    <!-- Mobile Menu Socials -->

    <ul class="menu__socials-list">
      <li class="menu__socials-item">
        <a
          class="menu__socials-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="facebook icon"
        >
          <svg class="menu__socials-icon" width="28" height="28">
            <use href="./sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>

      <li class="menu__socials-item">
        <a
          class="menu__socials-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="instagram icon"
        >
          <svg class="menu__socials-icon" width="28" height="28">
            <use href="./sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="menu__socials-item">
        <a
          class="menu__socials-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="youtube icon"
        >
          <svg class="menu__socials-icon" width="28" height="28">
            <use href="./sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
