<section class="header">
  <div class="container">
    <!-- Logo -->

    <a href="" class="header__logo"
      >english<span class="header__logo-span">exelence</span>.</a
    >

    <!-- Navigation -->

    <nav class="header__nav">
      <ul class="header__nav-list list">
        <li class="header__nav-item">
          <a class="header__nav-link link" href="#About us">About us</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link link" href="#Our lessons">Our lessons</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link link" href="#Teachers">Teachers</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link link" href="#Reviews">Reviews</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link link" href="#Contact Us">Contact Us</a>
        </li>
      </ul>
    </nav>

    <!-- Socials -->

    <ul class="header__socials-list list">
      <li class="header__socials-item">
        <a
          href="https://www.facebook.com/goITclub/"
          class="header__socials-link link"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="facebook icon"
        >
          <svg class="header__socials-icon" width="28" height="28">
            <use href="./public/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header__socials-item">
        <a
          href="https://www.instagram.com/goitclub/"
          class="header__socials-link link"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="instagram icon"
        >
          <svg class="header__socials-icon" width="28" height="28">
            <use href="./public/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header__socials-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="header__socials-link link"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="youtube icon"
        >
          <svg class="header__socials-icon" width="28" height="28">
            <use href="./public/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <!-- ====== Mobile Menu ====== -->

    <button
      class="menu-open__button js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg width="32" height="23" stroke="var(--color-black)">
        <use href="./public/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </div>

  <!-- Mobile Menu container -->

  <div class="menu-container js-menu-container" id="mobile-menu">
    <button class="menu-close__button js-close-menu">
      <svg class="menu-close__icon" width="28" height="28">
        <use href="./public/sprite.svg#icon-x-close"></use>
      </svg>
    </button>

    <!-- Mobile Menu Navigation  -->

    <nav class="mobile-menu__nav">
      <ul class="mobile-menu__nav-list list">
        <li class="mobile-menu__nav-item">
          <a class="mobile-menu__nav-link link" href="#About us">About us</a>
        </li>
        <li class="mobile-menu__nav-item">
          <a class="mobile-menu__nav-link link" href="#Our lessons"
            >Our lessons</a
          >
        </li>
        <li class="mobile-menu__nav-item">
          <a class="mobile-menu__nav-link link" href="#Teachers">Teachers</a>
        </li>
        <li class="mobile-menu__nav-item">
          <a class="mobile-menu__nav-link link" href="#Reviews">Reviews</a>
        </li>
        <li class="mobile-menu__nav-item">
          <a class="mobile-menu__nav-link link" href="#Contact Us"
            >Contact Us</a
          >
        </li>
      </ul>
    </nav>

    <!-- Mobile Menu Socials -->

    <ul class="mobile-menu__socials-list list">
      <li class="mobile-menu__socials-item">
        <a
          class="mobile-menu__socials-link link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="facebook icon"
        >
          <svg class="mobile-menu__socials-icon" width="28" height="28">
            <use href="./public/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>

      <li class="mobile-menu__socials-item">
        <a
          class="mobile-menu__socials-link link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="instagram icon"
        >
          <svg class="mobile-menu__socials-icon" width="28" height="28">
            <use href="./public/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-menu__socials-item">
        <a
          class="mobile-menu__socials-link link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="youtube icon"
        >
          <svg class="mobile-menu__socials-icon" width="28" height="28">
            <use href="./public/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
