<section class="hero" id="hero">
  <div class="hero__background hero__container">
    <h1
      class="hero__title wow animate__animated animate__backInLeft"
      data-wow-duration="1s"
      data-wow-delay="0.3s"
    >
      Discover the joy of learning
      <span class="hero__title-current">English</span> with us!
    </h1>
    <a
      class="hero__button-leave scroll-button"
      id="leave"
      data-target="leave-section"
    >
      Leave an application
    </a>
    <a href="#footer-anchor" class="hero__button-round">
      <svg
        class="hero__button-icon"
        width="20"
        height="20"
        aria-label="scroll down icon"
      >
        <use href="./sprite.svg#icon-scroll-down"></use>
      </svg>
    </a>
  </div>
</section>
