<section class="hero">
  <div class="container">
    <h1 class="hero__title">
      Discover the joy of learning
      <span class="hero__title-current">English</span> with us!
    </h1>
    <a href="./07-leave.html" class="hero__button hero__button-text">
      Leave an application
    </a>
    <a href="./07-leave.html" class="hero__button-round">
      <svg width="24" height="24" class="hero__button-icons">
        <use href="./img/icons.svg#icon"></use>
      </svg>
    </a>
  </div>
</section>
