<section class="about__section section" id="about-us">
  <div class="container">
    <h2 class="about__title">About <span class="about__inner">Us</span></h2>
    <p class="about__subtitle">
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment
    </p>
    <div class="about__box">
      <ol class="about__list">
        <li
          class="about__item wow animate__animated animate__fadeInRightBig"
          data-wow-duration="1s"
          data-wow-delay="0.3s"
        >
          <div class="about__container">
            <p class="about__text">Expert, innovative teaching staff</p>
          </div>
        </li>
        <li
          class="about__item wow animate__animated animate__fadeInRightBig"
          data-wow-duration="1s"
          data-wow-delay="0.5s"
        >
          <div class="about__container">
            <p class="about__text">Wide range of course levels and options</p>
          </div>
        </li>
        <li
          class="about__item wow animate__animated animate__fadeInRightBig"
          data-wow-duration="1s"
          data-wow-delay="0.7s"
        >
          <div class="about__container">
            <p class="about__text">Multicultural learning environment</p>
          </div>
        </li>
        <li
          class="about__item wow animate__animated animate__fadeInRightBig"
          data-wow-duration="1s"
          data-wow-delay="0.9s"
        >
          <div class="about__container">
            <p class="about__text">Comprehensive language support services</p>
          </div>
        </li>
      </ol>
      <div
        class="about__wrapper wow animate__animated animate__fadeInRightBig"
        data-wow-duration="1s"
        data-wow-delay="1.1s"
      >
        <img
          srcset="./img/memoji-about-1x.png 1x, ./img/memoji-about-2x.png 2x"
          src="./img/memoji-about-1x.png"
          alt="Memoji"
          class="about__img"
          width="255"
        />
      </div>
    </div>
  </div>
</section>
