<section class="our__lessons section" id="our-lessons">
  <div class="title__container container">
    <h2 class="lessons__title">
      Our <span class="text__element">lessons</span>
    </h2>
    <p class="lessons__subtext">
      Our lessons are carefully structured and interactive, designed to promote
      rapid language acquisition through practical tasks and real-world
      scenarios.
    </p>
    <ul class="lessons__card-list">
      <li
        class="lessons__card-item wow animate__animated animate__fadeInLeftBig"
        data-wow-duration="1s"
        data-wow-delay="0.9s"
      >
        <h3 class="lessons__card-title">Practice</h3>
        <p class="lessons__card-price">40$ / month</p>
        <p class="lessons__card-desc">
          This plan offers an opportunity for learners to engage in
          collaborative language exercises and group activities, boosting their
          conversational skills and confidence in using English.
        </p>
        <a
          data-target="leave-section"
          class="lessons__card-button lessons__card-button-text scroll-button"
          href="#contact-us"
          >Leave an application</a
        >
      </li>

      <li
        class="lessons__card-item wow animate__animated animate__fadeInLeftBig"
        data-wow-duration="1s"
        data-wow-delay="0.7s"
      >
        <h3 class="lessons__card-title">Standard</h3>
        <p class="lessons__card-price">70$ / month</p>
        <p class="lessons__card-desc">
          Our standard package provides a balanced learning approach that covers
          all key areas of English language - reading, writing, listening, and
          speaking. It is a set of basic knowledge and skills.
        </p>
        <a
          data-target="leave-section"
          class="lessons__card-button lessons__card-button-even scroll-button"
          href="#contact-us"
          >Leave an application</a
        >
      </li>

      <li
        class="lessons__card-item wow animate__animated animate__fadeInLeftBig"
        data-wow-duration="1s"
        data-wow-delay="0.5s"
      >
        <h3 class="lessons__card-title">Individual</h3>
        <p class="lessons__card-price">99$ / month</p>
        <p class="lessons__card-desc">
          We offer a tailored learning experience with individualized
          instruction that focuses on a learner's specific language goals and
          challenges, offering personal feedback.
        </p>
        <a
          data-target="leave-section"
          class="lessons__card-button scroll-button"
          href="#contact-us"
          >Leave an application</a
        >
      </li>
    </ul>
  </div>
</section>
