<section class="our__lessons">
  <div class="title__container container">
    <h2 class="lessons__title">Our <span class="text__element">lessons</span></h2>
    <p class="lessons__subtext">Our lessons are carefully structured and interactive, designed to promote rapid language
      acquisition through
      practical tasks and real-world scenarios.</p>
    <ul class="lessons__card-list">
      <li class="lessons__card-item">

        <h3 class="lessons__card-title">Practice</h3>
        <p class="lessons__card-price">40$ / month</p>
        <p class="lessons__card-desc">This plan offers an opportunity for learners to engage in collaborative language
          exercises and group activities,
          boosting their conversational skills and confidence in using English.</p>
        <a class="lessons__card-button lessons__card-button-text" id="contact-us" href="">Leave an application</a>
      </li>

      <li class="lessons__card-item even">
        <h3 class="lessons__card-title even">Standart</h3>
        <p class="lessons__card-price even">70$ / month</p>
        <p class="lessons__card-desc even-text">Our standard package provides a balanced learning approach that covers
          all key areas of English language - reading,
          writing, listening, and speaking. It is a set of basic knowledge and skills.</p>
        <a class="lessons__card-button even border" id="contact-us" href="">Leave an
          application</a>
      </li>

      <li class="lessons__card-item">
        <h3 class="lessons__card-title">Individual</h3>
        <p class="lessons__card-price">99$ / month</p>
        <p class="lessons__card-desc">We offer a tailored learning experience with individualized instruction that
          focuses on a learner's specific language
          goals and challenges, offering personal feedback.</p>
        <a class="lessons__card-button" id="contact-us" href="">Leave an application</a>
      </li>
    </ul>
  </div>

        <div class="lessons__card-even">
          <h3 class="lessons__card-title">Practice</h3>
          <p class="lessons__card-price">40$ / month</p>
          <p class="lessons__card-desc">This plan offers an opportunity for learners to engage in collaborative language
            exercises and group activities,
            boosting their conversational skills and confidence in using English.</p>
          <a class="lessons__card-button lessons__card-button-text" id="contact-us" href="">Leave an application</a>
        </div>
      </li>

      <li class="lessons__card-item odd">
        <div class="lessons__card-even odd">
          <h3 class="lessons__card-title odd">Standart</h3>
          <p class="lessons__card-price odd">70$ / month</p>
          <p class="lessons__card-desc odd">Our standard package provides a balanced learning approach that covers all
            key
            areas of English language - reading,
            writing, listening, and speaking. It is a set of basic knowledge and skills.</p>
          <a class="lessons__card-button lessons__card-button-text odd-border" id="contact-us" href="">Leave an
            application</a>
        </div>
      </li>

      <li class="lessons__card-item">
        <div class="lessons__card-even">
          <h3 class="lessons__card-title">Individual</h3>
          <p class="lessons__card-price">99$ / month</p>
          <p class="lessons__card-desc">We offer a tailored learning experience with individualized instruction that
            focuses on a learner's specific language
            goals and challenges, offering personal feedback.</p>
          <a class="lessons__card-button lessons__card-button-text" id="contact-us" href="">Leave an application</a>
        </div>
      </li>
    </ul>

    <!-- <div class="lessons__cards">
      <ul class="lessons__cards-list">
        <li class="lessons__card-item">
          <div class="lessons__card-even">
            <h3 class="lessons__card-title">Practice</h3>
            <p class="lessons__card-price">$40 / month</p>
            <p class="lessons__card-description">This plan offers an opportunity for learners to engage in collaborative
              language
              exercises and
              group activities, boosting their conversational skills and confidence in using English.</p>
            <a class="lessons__card-button lessons__card-button-text" href="">Leave an application</a>
          </div>
    </div>
    <div class="lessons__cards odd">
      <div class="lessons__card-odd">
        <h3 class="lessons__card-title odd-text">Standart</h3>
        <p class="lessons__card-price odd-text">70$ / month</p>
        <p class="lessons__card-description odd-text">Our standard package provides a balanced learning approach that
          covers
          all
          key areas
          of English
          language - reading, writing, listening, and speaking. It is a set of basic knowledge and skills.</p>
        <a class="lessons__card-button lessons__card-button-text odd-button" href="">Leave an application</a>
      </div>
    </div>
    <div class="lessons__cards">
      <div class="lessons__card-even">
        <h3 class="lessons__card-title">Individual</h3>
        <p class="lessons__card-price">99$ / month</p>
        <p class="lessons__card-description">We offer a tailored learning experience with individualized instruction
          that focuses on a learner's specific language goals and challenges, offering personal feedback.</p>
        <a class="lessons__card-button lessons__card-button-text" href="">Leave an application</a>
        </li>
        </ul>
      </div>
    </div>
  </div> -->

</section>