<section class="proposal container">
  <div class="proposal__container">
    <h2 class="visually-hidden">Proposal to leave an application</h2>
    <h3 class="proposal__heading">
      Master the <span class="proposal__heading-current">Language</span> with
      Our English Package!
    </h3>

    <div class="proposal__box">
      <div class="proposal__wrapper">
        <p class="proposal__tittle">Power of English</p>
        <ul class="proposal__list">
          <li class="proposal__item">
            <p class="proposal__item-text">
              Dive into captivating lessons designed to stimulate your
              curiosity.
            </p>
          </li>
          <li class="proposal__item">
            <p class="proposal__item-text">
              Learn in a nurturing setting where every student's progress
              matters.
            </p>
          </li>
          <li class="proposal__item">
            <p class="proposal__item-text">
              Experience the satisfaction of real progress as your language
              skills and confidence grow with every session.
            </p>
          </li>
        </ul>

        <a class="proposal__button proposal__button-text" href="#contact-us">
          Leave an application
        </a>
      </div>

      <img
        class="proposal__pic"
        srcset="./img/books-2x.png 2x"
        src="./img/books-1x.png"
        alt="books on top of each other"
      />
    </div>
  </div>
</section>
