<section class="proposal section">
  <div class="proposal__container">
    <h2 class="visually-hidden">Proposal to leave an application</h2>
    <p
      class="proposal__heading wow animate__animated animate__zoomIn"
      data-wow-duration="1s"
      data-wow-delay="0.3s"
    >
      Master the <span class="proposal__heading-current">Language</span> with
      Our English Package!
    </p>
    <div class="proposal__box">
      <div class="proposal__wrapper">
        <h3 class="proposal__tittle">Power of English</h3>
        <ul class="proposal__list">
          <li class="proposal__item">
            <div class="proposal__wrap">
              <svg class="proposal__icon">
                <use href="./sprite.svg#icon-check"></use>
              </svg>
            </div>
            <p class="proposal__item-text">
              Dive into captivating lessons designed to stimulate your
              curiosity.
            </p>
          </li>
          <li class="proposal__item">
            <div class="proposal__wrap">
              <svg class="proposal__icon">
                <use href="./sprite.svg#icon-check"></use>
              </svg>
            </div>
            <p class="proposal__item-text">
              Learn in a nurturing setting where every student's progress
              matters.
            </p>
          </li>
          <li class="proposal__item">
            <div class="proposal__wrap">
              <svg class="proposal__icon">
                <use href="./sprite.svg#icon-check"></use>
              </svg>
            </div>
            <p class="proposal__item-text">
              Experience the satisfaction of real progress as your language
              skills and confidence grow with every session.
            </p>
          </li>
        </ul>
        <a
          data-target="leave-section"
          href=""
          class="proposal__button proposal__button-text scroll-button"
        >
          Leave an application
        </a>
      </div>
      <img
        class="proposal__pic"
        srcset="./img/books-2x.png 2x"
        src="./img/books-1x.png"
        alt="books on top of each other"
      />
    </div>
  </div>
</section>
