<section class="proposal">
  <div class="container">
    <h2 class="proposal__heading">
      Master the <span>Language</span> with Our English Package!
    </h2>

    <div class="proposal__wrapper">
      <h3 class="proposal__tittle">Power of English</h3>

      <ul class="proposal__list">
        <li class="proposal__item">
          <p class="proposal__item-text">
            Dive into captivating lessons designed to stimulate your curiosity.
          </p>
        </li>
        <li class="proposal__item">
          <p class="proposal__item-text">
            Learn in a nurturing setting where every student's progress matters.
          </p>
        </li>
        <li class="proposal__item">
          <svg class="proposal__item-icon" width="20" height="20">
            <use href="./img/sprite.svg#icon-check"></use>
          </svg>
          <p class="proposal__item-text">
            Experience the satisfaction of real progress as your language skills
            and confidence grow with every session.
          </p>
        </li>
      </ul>

      <a href="" class="proposal__button proposal__button-text">
        Leave an application
      </a>
    </div>
  </div>
</section>
