<section class="teachers section" id="teachers">
  <div class="container">
    <h2 class="teachers__title">
      Meet our <span class="text__element">teachers</span>
    </h2>
    <p class="teachers__subtitle">
      Discover our team of dedicated educators, committed to guiding you on your
      journey to English proficiency with personalized and engaging instruction
    </p>
    <ul
      class="teachers__list wow animate__animated animate__bounceInDown"
      data-wow-duration="1s"
      data-wow-delay="0.3s"
    >
      <li class="teachers__item">
        <img
          class="teachers__image"
          srcset="./img/teacher-maria-2x.png 2x"
          src="./img/teacher-maria-1x.png"
          alt="photo Maria"
          width="150"
          height="150"
        />
        <div class="teachers__wrapper">
          <h3 class="teachers__specialist">Maria</h3>
          <p class="teachers__job-title">
            A seasoned linguist and our primary specialist in beginner-level
            instruction, Maria brings warmth and patience to every class
          </p>
        </div>
      </li>
      <li class="teachers__item">
        <img
          class="teachers__image"
          srcset="./img/teacher-artem-2x.png 2x"
          src="./img/teacher-artem-1x.png"
          alt="photo Artem"
          width="150"
          height="150"
        />
        <div class="teachers__wrapper">
          <h3 class="teachers__specialist">Artem</h3>
          <p class="teachers__job-title">
            With his innovative teaching techniques and a focus on interactive
            learning, Artem excels in keeping students engaged and motivated
          </p>
        </div>
      </li>
      <li class="teachers__item">
        <img
          class="teachers__image"
          srcset="./img/teacher-ilona-2x.png 2x"
          src="./img/teacher-ilona-1x.png"
          alt="photo Ilona"
          width="150"
          height="150"
        />
        <div class="teachers__wrapper">
          <h3 class="teachers__specialist">Ilona</h3>
          <p class="teachers__job-title">
            A specialist in advanced English, Ilona provides intensive
            instruction, ensuring students gain confidence in complex language
            tasks
          </p>
        </div>
      </li>
      <li class="teachers__item">
        <img
          class="teachers__image"
          srcset="./img/teacher-volodymyr-2x.png 2x"
          src="./img/teacher-volodymyr-1x.png"
          alt="photo Volodymyr"
          width="150"
          height="150"
        />
        <div class="teachers__wrapper">
          <h3 class="teachers__specialist">Volodymyr</h3>
          <p class="teachers__job-title">
            Our expert in English for specific purposes, Volodymyr tailors his
            approach to meet individual career and industry-specific language
            needs
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
