<section class="leave__section section" id="leave-section">
  <div class="leave__container container">
    <h2 class="leave__title" id="contact-us">
      Leave an <span class="text__element">application</span>
    </h2>
    <p class="leave__text">
      Please use the form below to contact us. Enter your name, email, and
      message and we'll get back to you shortly.
    </p>
    <div class="leave__wrapper">
      <div class="leave__card-wrapper">
        <div class="leave__text-wrapper">
          <p class="leave__card-big-text">1000</p>
          <p class="leave__card-text">
            of our online English language lessons! This journey has been full
            of discovery, growth and unforgettable moments, and we are happy to
            share this joyful event with you.
          </p>
        </div>
      </div>
      <form class="leave__form leave__feedback" id="leaveForm">
        <div class="leave__input-group">
          <input
            class="leave__form-input"
            type="text"
            name="user-name"
            placeholder="Name"
          />
          <input
            class="leave__form-input"
            type="email"
            name="user-email"
            placeholder="Email"
          />
          <input
            class="leave__form-input"
            type="tel"
            name="user-phone"
            placeholder="Phone"
          />
          <textarea
            class="leave__form-input teaxtarea-input"
            name="user-comment"
            placeholder="Comment"
            rows="4"
          ></textarea>
        </div>
        <fieldset class="leave__radio-group">
          <legend class="leave__radio-group-title">Choose a teacher</legend>
          <div class="leave__radio">
            <input
              class="leave__radio-input"
              type="radio"
              name="teacher"
              value="maria"
              id="radio-Maria"
              checked
            />
            <label class="leave__radio-label" for="radio-Maria">Maria</label>
          </div>
          <div class="leave__radio">
            <input
              class="leave__radio-input"
              type="radio"
              name="teacher"
              value="artem"
              id="radio-Artem"
            />
            <label class="leave__radio-label" for="radio-Artem">Artem</label>
          </div>
          <div class="leave__radio">
            <input
              class="leave__radio-input"
              type="radio"
              name="teacher"
              value="ilona"
              id="radio-Ilona"
            />
            <label class="leave__radio-label" for="radio-Ilona">Ilona</label>
          </div>
          <div class="leave__radio">
            <input
              class="leave__radio-input"
              type="radio"
              name="teacher"
              value="volodymyr"
              id="radio-input"
            />
            <label class="leave__radio-label" for="radio-input"
              >Volodymyr</label
            >
          </div>
        </fieldset>
        <button class="leave__form-btn" type="submit" id="submitButton">
          Send
        </button>
        <p class="leave__form-policy">
          By clicking on “Send” button, you agree to our
          <a class="leave__form-policy-link" href="">Privacy Policy</a>, and
          allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
  </div>
</section>
