<section>
  <div class="leave__container">
    <h2 class="leave__title">Leave an application</h2>
    <p class="leave__subtitle">
      Please use the form below to contact us. Enter your name, email, and
      message and we'll get back to you shortly.
    </p>

    <div class="leave__wrapper">
      <img
        class="leave__wrapper-img"
        srcset="../img/form-leave-2x.png 2x"
        src="../img/form-leave-1x.png"
        alt="Photo of the learning process"
        width="492"
        height="578">
      <p class="leave__wrapper-value" >1000</p>
      <p class="leave__wrapper-text" >of our online English language lessons! This journey has been full of discovery, growth and unforgettable moments, and we are happy to share this joyful event with you.</p>
    </div>

    <form>
      <div class="leave__info">
        <input
          class="leave__input"
          type="text"
          id="user-name"
          name="user-name"
          pattern="[a-zA-Zа-яА-ЯіІїєЄ']+"
          placeholder="Name"
          required
        />
      </div>
      <div class="leave__info">
        <input
          class="leave__input"
          type="email"
          id="user-email"
          name="user-email"
          placeholder="Email"
          required
        />
      </div>
      <div class="leave__info">
        <input
          class="leave__input"
          type="tel"
          id="user-phone"
          name="user-phone"
          pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}-[0-9]{3}"
          placeholder="Phone"
          required
        />
      </div>

      <div class="leave__comment">
        <textarea
          class="leave__comment"
          id="user-comment"
          name="user-comment"
          placeholder="Comment"
        ></textarea>
      </div>

      <div class="leave__radio">
        <p class="leave__radio-caption">Choose a teacher</p>
        <label>
          <input type="radio" name="teacher" value="Maria" checked />
          Maria
        </label>
        <label>
          <input type="radio" name="teacher" value="Artem" />
          Artem
        </label>
        <label>
          <input type="radio" name="teacher" value="Ilona" />
          Ilona
        </label>
          <input type="radio" name="teacher" value="Volodymyr" />
          Volodymyr
        </label>
      </div>
      
      <button class="leave__btn" type="submit">Send</button>

      <p class="leave__policy" >
        By clicking on “Send” button, you agree to our <a class="leave__policy-link" href="">Privacy Policy</a>, and allow Promodo to use this information for marketing purposes.
      <p>
    </form>
  </div>
</section>
