<section class="reviews section" id="reviews">
  <div class="reviews__container container">
    <h2 class="reviews__title">
      What our <span class="text__element">students</span> say
    </h2>
    <p class="reviews__subtitle">
      Hear from our students about their learning journey with us, as they share
      their experiences, progress, and the transformative impact
    </p>
    <div
      class="reviews__box wow animate__animated animate__bounceInUp"
      data-wow-duration="1s"
      data-wow-delay="0.3s"
    >
      <ul class="reviews__list">
        <li class="reviews__item">
          <div class="reviews__wrapper">
            <picture>
              <source
                srcset="
                  ./img/student-anna-1x.png 1x,
                  ./img/student-anna-2x.png 2x
                "
              />
              <img
                class="reviews__image"
                src="./img/student-anna-1x.png"
                alt="student photo"
                width="50"
                height="50"
              />
            </picture>
            <div class="reviews__wrapp">
              <h3 class="reviews__headline">Anna</h3>
              <p class="reviews__desc">Student</p>
            </div>
          </div>
          <p class="reviews__text">
            My experience at the language school has been nothing short of
            amazing. The teachers are dedicated and the learning environment is
            stimulating. I feel more confident in my English skills.
          </p>
        </li>
        <li class="reviews__item reviews__hidden-1">
          <div class="reviews__wrapper">
            <picture>
              <source
                srcset="
                  ./img/student-mykhailo-1x.png 1x,
                  ./img/student-mykhailo-2x.png 2x
                "
              />
              <img
                class="reviews__image"
                src="./img/student-mykhailo-1x.png"
                alt="student photo"
                width="50"
                height="50"
              />
            </picture>
            <div class="reviews__wrapp">
              <h3 class="reviews__headline">Mykhailo</h3>
              <p class="reviews__desc">Student</p>
            </div>
          </div>
          <p class="reviews__text">
            The school offers a great balance of language theory and practical
            exercises. The personalized feedback from the teachers has helped me
            improve my weak areas.
          </p>
        </li>
        <li class="reviews__item reviews__hidden-2">
          <div class="reviews__wrapper">
            <picture>
              <source
                srcset="
                  ./img/student-victoria-1x.png 1x,
                  ./img/student-victoria-2x.png 2x
                "
              />
              <img
                class="reviews__image"
                src="./img/student-victoria-1x.png"
                alt="student photo"
                width="50"
                height="50"
              />
            </picture>
            <div class="reviews__wrapp">
              <h3 class="reviews__headline">Victoria</h3>
              <p class="reviews__desc">Student</p>
            </div>
          </div>
          <p class="reviews__text">
            I love the dynamic and interactive teaching methods used here. It's
            a great place to learn English in a fun and effective way. I have
            definitely seen a big improvement in my language skills.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
