<div class="footer" id="footer-anchor">
  <div class="footer-container container">
    <div class="footer__content-wrap">
      <div class="footer__logo-adress-wrap">
        <!-- Logo -->
        <a class="footer__logo link scroll-button" href="#header__top">
          english<span class="footer__logo-span">excellence</span>.</a
        >
        <!-- Contacts -->
        <address class="footer-contacts">
          <ul class="footer-contacts__list list">
            <li class="footer-contacts__item">
              <p class="footer-contact__text">Phone number:</p>
              <a class="footer-contacts__link link" href="tel:+380684439426"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="footer-contacts__item">
              <p class="footer-contact__text">Address:</p>
              <a
                class="footer-contacts__link link"
                href="https://www.google.com/maps/search/32a+M.+Bazhana+ave/@50.394519,30.6064191,17z/data=!3m1!4b1?entry=ttu"
                target="_blank"
                rel="noopener noreferrer"
                >32a M. Bazhana ave</a
              >
            </li>
          </ul>
        </address>
      </div>
      <!-- Navigation -->
      <nav class="footer-nav">
        <ul class="footer-nav__list list">
          <li class="footer-nav__item">
            <a class="footer-nav__link link" href="#about-us">About us</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link link" href="#our-lessons">Our lessons</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link link" href="#teachers">Teachers</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link link" href="#reviews">Reviews</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link link" href="#leave-section"
              >Contact us</a
            >
          </li>
        </ul>
      </nav>
      <!-- Socials -->
      <div class="footer__icon-wrapper">
        <ul class="footer__icon-list">
          <li class="footer__icon-item">
            <a
              class="footer__icon-link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              rel="noopener norefferer"
            >
              <svg
                class="footer__icon"
                aria-label="facebook icon"
                width="28"
                height="28"
              >
                <use href="./sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer__icon-item">
            <a
              class="footer__icon-link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              rel="noopener norefferer"
            >
              <svg
                class="footer__icon"
                aria-label="instagram icon"
                width="28"
                height="28"
              >
                <use href="./sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer__icon-item">
            <a
              class="footer__icon-link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              rel="noopener norefferer"
            >
              <svg
                class="footer__icon"
                aria-label="youtube icon"
                width="28"
                height="28"
              >
                <use href="./sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
        <div class="footer__dev-titans-wrap">
          <a class="footer__link">
            <img src="./dev-titans.png" alt="logo" width="40" height="40" />
          </a>
        </div>
      </div>
    </div>
    <!-- All rights text -->
    <div class="footer__vector">
      <div class="footer__text-wrapper">
        <p class="footer__text">
          ©2023 English Excellence. All rights reserved.
        </p>
        <div class="footer-text__wrap">
          <a class="footer__text footer__text--privacy">Privacy Policy</a>
          <a class="footer__text footer__text--terms">Terms of Service</a>
        </div>
      </div>
    </div>
  </div>
</div>
