<div class="team team__backdrop is-hidden">
  <div class="team__wrapper">
    <button class="team__modal-close-btn" type="button">
      <svg class="team__modal-close-icon" width="20" height="20">
        <use href="./sprite.svg#icon-cross-closed"></use>
      </svg>
    </button>
    <h2 class="team__title">👩‍🎤DEV TITANS👨‍🎤</h2>
    <ul class="team__list">
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            loading="lazy"
            src="./img/team/viktor_svertoka.jpg"
            alt="Viktor Svertoka"
          />
        </div>
        <div class="team__box">
          <h2 class="team__member">Viktor Svertoka</h2>
          <p class="team__role">Team Lead</p>
          <a
            class="team__link-linkedin team__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com/in/viktorsvertoka/"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/ViktorSvertoka"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            loading="lazy"
            src="./img/team/andrew_motko.jpg"
            alt="Andrew Motko"
          />
        </div>
        <div class="team__box">
          <h2 class="team__member">Andrew Motko</h2>
          <p class="team__role">Scrum Master</p>
          <a
            class="team__link-linkedin team__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com/in/motko/"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/AM1007"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            loading="lazy"
            src="./img/team/lesia_soloviova.jpg"
            alt="Lesia Soloviova"
          />
        </div>
        <div class="team__box">
          <h2 class="team__member">Lesia Soloviova</h2>
          <p class="team__role">Front End Developer</p>
          <a
            class="team__link-linkedin team__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="http://www.linkedin.com/in/lesia-soloviova"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/LesiaUKR"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            loading="lazy"
            src="./img/team/alina_riabova.jpg"
            alt="Alina Riabova"
          />
        </div>
        <div class="team__box">
          <h2 class="team__member">Alina Riabova</h2>
          <p class="team__role">Front End Developer</p>
          <a
            class="team__link-linkedin team__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="http://www.linkedin.com/in/alina-ryabova"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/AlinaRyabova"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            loading="lazy"
            src="./img/team/svitlana_savchenko.jpg"
            alt="Svitlana Savchenko"
          />
        </div>
        <div class="team__box">
          <h2 class="team__member">Svitlana Savchenko</h2>
          <p class="team__role">Front End Developer</p>
          <a
            class="team__link-linkedin team__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="http://www.linkedin.com/in/savchenkosvitlana"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/SvitlanaSavchenko"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            loading="lazy"
            src="./img/team/tetiana_zorii.jpg"
            alt="Tetiana Zorii"
          />
        </div>
        <div class="team__box">
          <h2 class="team__member">Tetiana Zorii</h2>
          <p class="team__role">Front End Developer</p>
          <a
            class="team__link-linkedin team__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com/in/zorii-tetiana"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/TiZorii"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            loading="lazy"
            src="./img/team/vadym_andriushchenko.jpg"
            alt="Vadym Andriushchenko"
          />
        </div>
        <div class="team__box">
          <h2 class="team__member">Vadym Andriushchenko</h2>
          <p class="team__role">Front End Developer</p>
          <a
            class="team__link-linkedin team__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com/in/vadym-andriushchenko/"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/Vademandr"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            loading="lazy"
            src="./img/team/yuliia_nazymko.jpg"
            alt="Yuliia Nazymko"
          />
        </div>
        <div class="team__box">
          <h2 class="team__member">Yuliia Nazymko</h2>
          <p class="team__role">Front End Developer</p>
          <a
            class="team__link-linkedin team__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com/in/yuliia-nazymko/"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/YNazymko12"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            loading="lazy"
            src="./img/team/yevheni-datsenko.jpg"
            alt="Yevhenii Datsenko"
          />
        </div>
        <div class="team__box">
          <h2 class="team__member">Yevhenii Datsenko</h2>
          <p class="team__role">Front End Developer</p>
          <a
            class="team__link-linkedin team__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com/in/yevhenii-datsenko/"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/yevheniidatsenko"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
