<div class="privacy privacy__backdrop is-hidden">
  <div class="privacy__wrapper">
    <button class="privacy__modal-close-btn" type="button">
      <svg class="privacy__modal-close-icon" width="20" height="20">
        <use href="./sprite.svg#icon-cross-closed"></use>
      </svg>
    </button>
    <h2 class="privacy__title">
      Privacy <span class="privacy__inner">Policy</span>
    </h2>
    <ul>
      <li>
        <p class="privacy__text">
          Your privacy is important to us. This section outlines how we collect,
          use, process, and protect your personal data. This Privacy Policy
          applies to the use of our website, applications, and services, so
          please take a moment to read it.
        </p>
      </li>
      <li>
        <h3 class="privacy__subtitle">What personal data do we collect:</h3>
        <p class="privacy__text">
          We may collect various types of personal data that you voluntarily
          provide when interacting with our website, registering an account,
          placing an order, or filling out forms. This may include your name,
          email address, phone number, address, order information, and more.
        </p>
      </li>
      <li>
        <h3 class="privacy__subtitle">How we use your personal data:</h3>
        <p class="privacy__text">
          We may collect various types of personal data that you voluntarily
          provide when interacting with our website, registering an account,
          placing an order, or filling out forms. This may include your name,
          email address, phone number, address, order information, and more.
        </p>
      </li>
      <li>
        <h3 class="privacy__subtitle">Protection of personal data:</h3>
        <p class="privacy__text">
          We do not disclose your personal data to third parties without your
          consent, except when required by law or to provide the services you
          requested.
        </p>
      </li>
      <li>
        <h3 class="privacy__subtitle">Disclosure to third parties:</h3>
        <p class="privacy__text">
          We may collect various types of personal data that you voluntarily
          provide when interacting with our website, registering an account,
          placing an order, or filling out forms. This may include your name,
          email address, phone number, address, order information, and more.
        </p>
      </li>
      <li>
        <h3 class="privacy__subtitle">Changes to the Privacy Policy:</h3>
        <p class="privacy__text">
          We may periodically update this Privacy Policy. Please refer to this
          page to stay informed about any changes.
        </p>
      </li>
      <li>
        <h3 class="privacy__subtitle">Contact us:</h3>
        <p class="privacy__text">
          If you have any questions or concerns regarding this Privacy Policy or
          your information, please contact us using the contact details provided
          on our website.
        </p>
      </li>
    </ul>
  </div>
</div>
