<div class="terms terms__backdrop is-hidden">
  <div class="terms__wrapper">
    <button class="terms__modal-close-btn" type="button">
      <svg class="terms__modal-close-icon" width="20" height="20">
        <use href="./sprite.svg#icon-cross-closed"></use>
      </svg>
    </button>

    <h2 class="terms__title">
      Terms of <span class="terms__inner">Service</span>
    </h2>
    <ol>
      <li>
        <h3 class="terms__subtitle">Acceptance of Terms</h3>
        <p class="terms__text">
          Welcome to English Excellence! These Terms of Service (”Terms”)
          outline the terms and conditions for using our English language
          courses and services (collectively referred to as the ”Services”).
          By accessing or using our Services, you agree to comply with and be
          bound by these Terms. If you do not agree with these Terms, please do
          not use our Services.
        </p>
      </li>

      <li>
        <h3 class="terms__subtitle">Services Overview</h3>
        <p class="terms__text">
          English Excellence is dedicated to providing engaging and effective
          English language courses in a supportive and stimulating learning
          environment. Our aim is to help learners enhance their English
          language skills through our courses.
        </p>
      </li>

      <li>
        <h3 class="terms__subtitle">Content and Intellectual Property</h3>
        <ol>
          <li class="services__sub-item list">
            <p class="terms__text">
              Course Materials: All course materials, including text, videos,
              graphics, and other content, are the intellectual property of
              English Excellence or its licensors. You are granted a limited,
              non-exclusive, non-transferable license to access and use these
              materials for educational purposes only.
            </p>
          </li>

          <li class="services__sub-item list">
            <p class="terms__text">
              Prohibited Use: You may not reproduce, distribute, modify, create
              derivative works of, publicly display, or perform any of our
              course materials without prior written consent from
              English Excellence.
            </p>
          </li>
        </ol>
      </li>

      <li>
        <h3 class="terms__subtitle">User Conduct</h3>
        <ol>
          <li">
            <p class="terms__text">
              Respectful Behavior: English Excellence maintains a respectful and
              inclusive learning environment. You agree not to engage in any
              behavior that is harmful, discriminatory, harassing, or disruptive
              to other learners or instructors.
            </p>
          </li>

          <li>
            <p class="terms__text">
              Prohibited Use: You may not reproduce, distribute, modify, create
              derivative works of, publicly display, or perform any of our
              course materials without prior written consent from
              English Excellence.
            </p>
          </li>
        </ol>
      </li>

      <li>
        <h3 class="terms__subtitle">Privacy</h3>
        <p class="terms__text">
          Compliance with Laws: You agree to comply with all applicable laws and
          regulations while using our Services.
        </p>
      </li>

      <li>
        <h3 class="terms__subtitle">Termination</h3>
        <p class="terms__text">
          English Excellence reserves the right to suspend or terminate your
          access to our Services at its discretion, with or without cause.
        </p>
      </li>

      <li>
        <h3 class="terms__subtitle">Disclaimer of Warranties</h3>
        <p class="terms__text">
          Our Services are provided ”as is” and ”as available.“
          English Excellence does not make any warranties, whether expressed or
          implied, regarding the accuracy, reliability, or availability of the
          Services.
        </p>
      </li>

      <li>
        <h3 class="terms__subtitle">Limitation of Liability</h3>
        <p class="terms__text">
          English Excellence shall not be liable for any indirect, incidental,
          special, consequential, or punitive damages arising out of or in
          connection with the use of our Services.
        </p>
      </li>

      <li>
        <h3 class="terms__subtitle">Modifications to Terms</h3>
        <p class="terms__text">
          English Excellence reserves the right to modify or update these Terms
          at any time. We will provide notice of such changes, and your
          continued use of our Services after the changes are posted will
          signify your acceptance of the modified Terms.
        </p>
      </li>

      <li>
        <h3 class="terms__subtitle">Contact Us</h3>
        <p class="terms__text">
          If you have any questions or concerns about these Terms or our
          Services, please contact us at
          <a href="#">
            english-excellence@gmail.com</a
          >.
        </p>
        <p class="terms__text">
          These Terms of Service were last updated on 23.06.24.
        </p>
      </li>
    </ol>
  </div>
</div>
